[submodule "diff-gaussian-rasterization"]
	path = diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
[submodule "VideoProcessingFramework"]
	path = VideoProcessingFramework
	url = https://github.com/NVIDIA/VideoProcessingFramework.git
[submodule "gaussian-viewer-frontend"]
	path = gaussian-viewer-frontend
	url = https://github.com/dylanebert/gaussian-viewer-frontend.git
