aioice==0.9.0
aiortc==1.5.0
annotated-types==0.5.0
anyio==3.7.1
av==10.0.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cmake==3.27.2
cryptography==41.0.3
dnspython==2.4.2
exceptiongroup==1.1.3
fastapi==0.103.0
filelock==3.12.2
google-crc32c==1.5.0
h11==0.14.0
httptools==0.6.0
idna==3.4
ifaddr==0.2.0
Jinja2==3.1.2
lit==16.0.6
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
Pillow==10.0.0
plyfile==1.0.1
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
pyee==11.0.0
pylibsrtp==0.8.0
pyOpenSSL==23.2.0
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.2
sniffio==1.3.0
starlette==0.27.0
sympy==1.12
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
triton==2.0.0
twilio==8.7.0
typing_extensions==4.7.1
urllib3==2.0.4
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.20.0
websockets==11.0.3
